@use '../abstracts' as a;

.features {
    margin-bottom: 1rem;

    &-icon {
        margin-right: 1.25rem;
    }

    .grid {
        padding: 1.875rem;
    }

    .flex {
        height: 100%;
    }
}

/* Tablets and smaller */

@media(max-width: 48em) {
    .features {
        .grid {
            @include a.verticalize-grid;
        }
    }
}