@use './abstracts' as a;

.card {
    background-color: a.$white;
    color: a.$dark-grey;
    border-radius: .625rem;
    box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, .2);
    padding: 1.25rem;
    margin: .625rem;
}