@use './variables' as v;

@each $space in v.$space_amounts 
{
    .m-#{$space} 
    {
        margin: #{$space}rem;
    }

    .my-#{$space} 
    {
        margin: #{$space}rem 0;
    }

    .p-#{$space}
    {
        padding: #{$space}rem;
    }

    .py-#{$space}
    {
        padding: #{$space}rem 0;
    }
}