$primary-color: hsl(210, 97%, 47%);
$secondary-color: hsl(225, 71%, 38%);
$navy-blue: hsl(208, 100%, 13%);
$white: hsl(0, 0%, 100%);
$dark-grey: hsl(0, 0%, 20%);

$success-color: hsl(120, 39%, 54%);
$error-color: hsl(2, 64%, 58%);

$font-family: ('Lato', 'sans-serif');

$space_amounts: (1, 2, 3, 4, 5);